@import "./src/assets/styles/theme-settings";

.container {
  margin-top: 20vh;
  margin-bottom: $rem2;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: $rem3 0;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: $rem2;
  width: 200px;
}

.errorContainer {
  margin-top: $rem0\5;
  margin-bottom: $rem0\5;
}

.buttonContainer {
  margin-top: $rem1;
}

.redirectLinkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $rem1;
}

.redirectTitle {
  letter-spacing: $px1;
}

.redirectLink {
  color: $color-blue-ribbon300;
  transition: all .3s;
  margin-top: $rem1;
  &:hover {
    cursor: pointer;
    font-weight: bold;
    color: $color-blue-ribbon400;
  }
}

@media (min-width: $screen-mobile-lm) {
  .inputContainer {
    width: 300px
  }
}
