@import '../../assets/styles/theme-settings';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $color-picton-blue-500;
  align-items: center;
  padding: $rem1;
  margin-bottom: $rem2;
  h2 {
    color: white;
    padding-top: $rem0\25;
  }
  img {
    margin-right: $rem1;
    height: $rem2;
  }
}

.titleContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.localizationBar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

@media (min-width: $screen-mobile-m) {

}

@media (min-width: $screen-mobile-l) {

}

@media (min-width: $screen-tablet) {
  .container {
    flex-direction: row;
  }
  .titleContainer {
    flex-direction: row;
  }
  .localizationBar {
    width: auto;
  }
}

@media (min-width: $screen-laptop) {

}




