@import '../../assets/styles/theme-settings';

.container {
  background: $color-picton-blue-500;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $rem1;
  h2 {
    color: white;
    padding-top: $rem0\25;
  }
  img {
    margin-right: $rem1;
    height: $rem2;
  }
}

@media (min-width: $screen-mobile-m) {

}

@media (min-width: $screen-mobile-l) {

}

@media (min-width: $screen-tablet) {
  .container {
    flex-direction: row;
  }
}

@media (min-width: $screen-laptop) {

}




