$px1: 1px;
$px0: 0;
$rem0\25: 0.25rem;
$rem0\5: 0.5rem;
$rem0\75: 0.75rem;
$rem1: 1rem;
$rem1\25: 1.25rem;
$rem1\5: 1.5rem;
$rem2: 2rem;
$rem2\5: 2.5rem;
$rem3: 3rem;
$rem4: 4rem;
$rem5: 5rem;
$rem6: 6rem;
$rem8: 8rem;
$rem10: 10rem;
$rem12: 12rem;
$rem14: 14rem;
$rem16: 16rem;
