/* Theme colors */
$color-primary: #2962FF;
$color-primary-dark: #003fed;
$color-primary-light: #27C4F4;
$color-secondary: #eb5434;
$color-secondary-dark: #e23a16;
$color-secondary-light: #FCDA00;

:export {
  colorPrimary: $color-primary;
  colorSecondary: $color-secondary;
}
